*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.col4{
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

@media screen and (min-width: 768px) {
    .col4{
        flex-basis: 20%;
        max-width: 20%;
    }

    .opa img{
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .none{
        display: none;
    }

    .img2{
        display: none;
    }
    
}





.dark-text{
    color: black !important;
}

.bi-chevron-down{
    font-size: 15px;
}

[class*='jumbotron']{
    background-position: center;
    background-size: cover;
}

.jumbotron1{
    background-image: url('img/jumbo-bg.png'); 
    height: 650px;
}

.jumbotron2{
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
    height: 650px;
}

.jumbotron3{
    background-color: rgb(185, 185, 185);
    height: 300px;
}

.jumbotron4{
    background-color: rgb(33, 22, 83);
    height: 300px;
}

.colorj4{
    color: rgb(33, 22, 83);
}

.btn{
    border-radius: 100px !important;
}

.btn-brown{
    background-color: brown !important;
    border-color: brown !important;
}

.btn-grey{
    background-color: lightgrey !important;
    border-color: lightgrey !important;
}

.img100{
    width: 100%;
}

.img90{
    width: 95%;
}

.radius20{
    border-radius: 20px;
}

.radius30{
    border-radius: 30px;
}

.bord-h{
    border: 2px solid rgba(255, 0, 0, 0);
    padding: 7px 0;
}

.bord-h:hover{
    border: 2px solid rgb(0, 0, 0);
}


.title{
    font-weight: 400;
}

.opa{
    opacity: 0.6;
    box-sizing: border-box;
    height: 190px;
}

.opa:hover{
    opacity: 1;
    border-bottom: 3px solid #0d6efd;
}

.micro-text{
    font-size: 13px;
}

.boxs{
    box-sizing: border-box !important;
}

.img2{
    height: 300px;
}

.bi-search{
    font-size: 20px;
}

.nomargin{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.nav-link{
    padding: 3px 1rem !important;
}

.white{
    filter: grayscale(100%) brightness(0%) invert(100%);
}

.fa-globe{
    color: white;
}

.cover-ret{
    background-image: url('img/returnal-listing-thumb-01-ps5.jpg');
    background-position: center;
    background-size: cover;
}


.cover-rat-cla{
    background-image: url('img/ratchet-and-clank-rift-apart-keyart.jpg');
    background-position: center;
    background-size: cover;
}

.bs{
    --bs-gutter-x: 0 !important;
}





.bg-1{
    background-color: #202020;
}

.bg-2{
    background-color: #00439c;
}

